<h1>What kind of triangle is it?</h1>

<form action="/output">
  <div class="form-group">
    <label for="length">Side 1 length</label>
    <input id="s1" name="side1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Side 2 length</label>
    <input id="s2" name="side2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Side 3 length</label>
    <input id="s3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
