<h1>Calculate the volume of your package</h1>

<form action="/output">
  <div class="form-group">
    <label for="depth">Depth</label>
    <input id="d" name="depth" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width</label>
    <input id="w" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Height</label>
    <input id="h" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="height">Weight</label>
    <input id="w" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
